<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width,initial-scale=1.0'>
    <link rel='stylesheet' href='app.css'>
    <title>{{ title }}</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="/">layc</a>
        </div>
        <nav class="nav">
            <a href="/features">features</a>
            <a href="/blog">Blog</a>
        </nav>
    </header>
    <main>
        {{ content }}
    </main>
    <footer>
        <nav class="nav">
            <a href="/imprint">Imprint</a>
            <a href="/tos">Terms</a>
        </nav>
    </footer>
</body>
</html>
