# dependencies
node_modules/

# bun
bun.lockb

# environments
*.env
*.env.*
!.env.example

# logs
*.log

# system files
.DS_Store
Thumbs.db

# builds
dist/
build/

# ides
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
